{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block homepage %}
    class="active"
{% endblock %}

{% block main %}

		<img src="../static/img/headersepia.png" alt="Girl reading - Header" />

		<h1>About</h1>

        <div class="left-text">
		<h2>What</h2>
		<p>It's a device that recognize when you move a page. As soon as your page is turned, it shows you how long you needed to complete that page. An average of your time is calculated and shown. This way you're able to see how much time you need to finish your book!</p>
        </div>

        <div class="right-text">
		    <h2>Who</h2>
            <p>My name is Lyvain Lefever, born and raised in Belgium. I'm 20 years old and live in Poperinge. At this moment I'm a student at Howest Kortrijk. I'm studying New Media and Communication Technologies.</p>
        </div>
        <img src="../static/img/lyvainlefever.png" alt="Picture Lyvain Lefever" class="left-picture">


        <h2>Where</h2>
        <p>This project is created at the Howest Kortrijk school. Kortrijk is located in West-Flandres Belgium. Me, Lyvain Lefever, live in Poperinge West-Flandres.</p>

{% endblock %}